.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: red; /* Or any color you prefer */

  animation: spin 1s linear infinite;
  margin: 10px auto; /* Center the spinner */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dark-mode .loading-spinner {
  border-color: rgba(255, 255, 255, 0.1);
  border-left-color: #f55c15; /* A yellow/gold color for dark mode */
}
